@media only screen and (max-width: 1200px) {
    .dark {display: flex;
            width: 50%;
            flex-direction: column;
           justify-content: center;
            margin-bottom: 1%;}
}
.dark {
    position: relative;
    margin-right: 1%;
}




@media only screen and (min-width: 1200px) {
    body{
        margin-left: 15%;
        margin-right: 15%;}
}

@media only screen and (max-width: 600px) {
    nav {display: flex; 
        flex-direction: column;
        align-items: center;}
}
align-items: center;
margin-left: 20%;
            margin-right: 20%;

            border: #f7f5f4 dotted;